body {
    background-color: grey;
}

img {
    width: 100%;
}

#content {
    width: 75%;
    margin: auto;
}

#bleDeviceList {
    height: 128px;
    border: 1px solid lightgrey;
    overflow-y: auto;

    -webkit-overflow-scrolling: touch;
}

#bleDeviceList .ble-device {
    appearance: none;
    padding: 8px;
    font-size: 20px;
    list-style: none;
}

#messageInput {

}

#list {
    background-color: red;
}

.button {
    padding: 8px;
}

/* width will be 100% of content */
#refreshButton {
    width: 100%;
}

#sendButton {
    width: 100%;
}

#ledOnButton {
    width: 50%;
}

#ledOffButton {
    width: 50%;
}

#ledOnButton , #ledOffButton {
display:inline-block;
/**other codes**/
}