body {
    background-color: grey;
}

img {
    width: 100%;
}

#content {
    width: 75%;
    margin: auto;
}

#bleDeviceList {
    height: 128px;
    border: 1px solid lightgrey;
    overflow-y: auto;

    -webkit-overflow-scrolling: touch;
}

#bleDeviceList .ble-device {
    appearance: none;
    padding: 8px;
    font-size: 20px;
    list-style: none;
}

#messageInput {

}

#list {
    background-color: red;
}

.button {
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
}

#ledButtonsContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: center;

    margin: 0 -4px;
}

#ledButtonsContainer > .button {
    margin: 0 4px;
}
